@charset "utf-8";
.filter-bar h1 {
    font-size: 32px;
    font-size: 32px;
    color: #c8151f;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    text-align: center;
}
span.clickable.filter {
    margin-top: -15px;
    float: right;
}
.cart-slct {
    color: #c8151f;
    font-size: 16px;
    border: 1px solid #c8151f;
    padding: 8px;
    margin-bottom: 13px;
    background: #fff;
    max-width: 150px;
}
button.btn.btn-info.btn-sm.update_quantity font {
    float: left;    margin-right: 4px;
}
.cart-slct font {    display: contents;}
.side-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.side-bar ul li a {
    color: #ccc;
    line-height: 34px;
    background: #010036;
    width: 100%;
    float: left; transition:0.62s;
    padding-left: 20px;
    border-bottom: 1px solid #c8151f;
}
.side-bar ul li a:hover {
    color: #fff;
    background: #c8151f;
}
.side-bar ul li.selected a{ text-decoration:none;
                            color: #fff;
                            background: #c8151f;

}
.side-bar {
    background: #f0f0f3;    float: left;
    width: 100%;    margin: 30px 0px;
}
.right-part p{
    background: #f7f7f7;
    padding: 20px;
    margin: 30px 0px;
    border: 1px solid #ddd;
}
.form-group .col-sm-6 {
    padding-left: 0px;
}
div#billing_container .form-group .col-sm-6 {
    padding-left: 15px;
}
div#shipping_container .form-group .col-sm-6 {
    padding-left: 15px;
}
.form-group label {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}
input.feild-a {
    float: left;
    width: 100%;
    background: #fff;
    padding: 8px;
    outline: 0px;
}
table.table.table-hover.osm {
    margin: 50px 0px;
    background: #f9f9f9;
    border: 1px solid #eee;
    overflow-x: auto;    float: left;
    display: block;
}
a.thumbnail.pull-left {
    margin: 0 10px 0 0;
    /* margin-bottom: 0; */
}
table.table.table-hover.osm td {
    vertical-align: middle;
    border-bottom: 1px solid #eee;
}
table.table.table-hover.osm thead {
    background: #292929;
    color: #fff;
}
button.btn.btn-danger {
    background: #e58700;
    border: 1px solid #e58700;
    outline: 0px;
}
button.btn.btn-success {
    background: linear-gradient(to right, #292929 50%, #c29979 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1s ease;
    border: 1px solid;
}
button.btn.btn-success:hover{background-position: right bottom;}
.media:first-child {
    margin-top: 0;
    min-width: 220px;
}
.spot-a p {
    font-size: 16px;
    color: #444444;
    margin-top: 20px;
    float: left;
    width: 100%;
    font-weight: 700;
}
.y-order h3 {
    float: left;
    width: 100%;
}
.y-order table {
    width: 100%;
    float: left;
    background: #eee;
    border: 1px solid #ccc;
    margin-bottom: 30px;
}
.y-order table th {
    width: 50%;
    background: #ccc;
    padding: 10px;
    border: 1px solid #fff;
}
.y-order table td {
    padding: 10px 0px 10px 10px;
    border: 1px solid #fff; color:#444;
}
tr.total {
    background: #ddd;
}
a.plc-ordr {
    background: linear-gradient(to right, #292929 50%, #c29979 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    transition: all 1s ease;
    color: #fff;
    width: 130px;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
a.plc-ordr:hover{background-position: right bottom;}
.y-order table select {
    width: 97%;
    padding: 7px;
    outline: none;
}
.y-order table lebal {
    width: 100%;
    float: left;
    margin-bottom: 7px;
}
.spot-a select {
    float: left;margin-bottom: 1px;
    width: 100%;
    background: #fff;
    padding: 8px;
    outline: 0px;
}
input.cc-hh {
    float: left;
    width: 20px;
    text-align: left;
}
.spot-a {
    background:#f0f0f3;
    padding: 0 15px;
    border: 1px solid #ccc;
    margin: 30px 0px;
    float: left;
    width: 100%;
}
textarea.feild-a {
    float: left;
    width: 100%;
    background: #fff;
    padding: 8px;
    outline: 0px;
}
.cupon {
    float: left;
    width: 100%;
    background: #c29979;
    padding: 10px;
    margin-top: 20px;
    border-top: 7px solid #e58700;
    color: #fff;
}
.cupon a {
    color: #fff;
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 17px;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #010036;
    border-color: #000;
}
.container.ac-onword .tab-content {float: left;
                                   width: 100%;
                                   margin-top: 30px;
}
.panel-primary{ border-color: #000;      float: left;    width: 100%;  margin-top: 30px;}
input.badge-btn {
    font-size: 16px;
    background: #c8151f;
    color: #fff;
    text-decoration: none;
    padding: 3px;
    border-radius: 30px;
    max-width: 117px;
    width: 100%;
    display: block;
    text-align: center;
    border: 0px;
}
.side-bar img.img-responsive {
    margin: auto;
}
.form-group .all-cat:hover{color: #fff;}
.form-group .all-cat { background: #fff;
                       text-align: center; height: auto;
                       margin: 10px auto;
                       float: none; padding: 7px 0px;
                       display: inline-block; text-align: center;
                       font-size: 21px;
                       border: 2px solid #c8151f;
                       color: #c8151f;
                       text-decoration: none;
}
button.all-cat.add-btn.hvr-float-shadow{background: #fff;
                                        text-align: center;
                                        height: auto;
                                        margin: 10px auto;
                                        float: none;
                                        padding: 7px 11px;
                                        display: inline-block;
                                        text-align: center;
                                        font-size: 16px;
                                        border: 2px solid #c8151f;
                                        color: #c8151f;
                                        text-decoration: none;
                                        margin: 16px auto 0;
}



/*******************************cart-css************************/
/*@media only screen and (max-width: 800px) {
    
        #no-more-tables table, 
        #no-more-tables thead, 
        #no-more-tables tbody, 
        #no-more-tables th, 
        #no-more-tables td, 
        #no-more-tables tr { 
                display: block; 
        }
table.col-md-12.table-bordered.table-striped.table-condensed.cf td img {
    float: none !important;
}
         Hide table headers (but not display: none;, for accessibility) 
        #no-more-tables thead tr { 
                position: absolute;
                top: -9999px;
                left: -9999px;
        }
        td.numeric input {
    margin: 1px !important;
}
 div#no-more-tables .table-bordered {width: 100% !important;
}
        #no-more-tables tr { border: 1px solid #ccc; }
 
        #no-more-tables td { 
                 Behave  like a "row" 
                border: none;
                border-bottom: 1px solid #eee; 
                position: relative;
                padding-left: 50%; 
                white-space: normal;
                text-align:left;
        }
 
        #no-more-tables td:before { 
                 Now like a table header 
                position: absolute;
                 Top/left values mimic padding 
                top: 6px;
                left: 6px;
                width: 45%; 
                padding-right: 10px; 
                white-space: nowrap;
                text-align:left;
                font-weight: bold;
        }
        #no-more-tables td:before { content: attr(data-title); }
}
td.numeric input {
    max-width: 43px;    margin: auto;
}
table.col-md-12.table-bordered.table-striped.table-condensed.cf td img {
    border: 1px solid #ccc;
    padding: 2px;    float: left;
}
td.c-name {
    font-size: 18px;
    font-weight: 700;
    background: #eee;
    color: #fff;
    text-align: left;
    color: #000;
}
.table-striped.table-condensed.cf th {
    background: #010036;line-height: 2;
    font-size: 18px;
    font-weight: normal;    text-align: center;
    color: #fff;
}
button.btn.cart-slct {
    color: #c8151f;
    font-size: 16px;
    border: 1px solid #c8151f;
    padding: 8px;
    margin-bottom: 10px;
    background: #fff;
}
button.btn.cart-slct:hover{
background: #c8151f;
        color: #fff;}
div#no-more-tables {
    text-align: center;float: left;
    width: 100%;
}
h1.cart-hdng {
    text-align: center;
    color: #c8151f;
    text-transform: uppercase;
    margin-bottom: 50px;
}
div#no-more-tables .table-bordered {
    border: 1px solid #ddd;
        margin: auto;
    float: none;width: 70%;
}
button.btn.btn-danger.btn-sm {
    background: #c8151f;
    border: 1px solid #c8151f;
}
button.btn.btn-info.btn-sm {
    background: #fff;
    border: 1px solid #010036;
    font-size: 16px;
    padding: 7px 7px 7px 14px;
    margin-bottom:8px;
    color: #010036;
}
button.btn.btn-info.btn-sm:hover{background:#010036; color: #fff;}*/


/*******************************cart-css************************/
@media only screen and (max-width: 800px) {

    #no-more-tables table, 
    #no-more-tables thead, 
    #no-more-tables tbody, 
    #no-more-tables th, 
    #no-more-tables td, 
    #no-more-tables tr { 
        display: block; 
    }
    table.col-md-12.table-bordered.table-striped.table-condensed.cf td img {
        float: none !important;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    div#no-more-tables {
    border: 1px solid #ccc;width: auto!important;
    margin: 0 20px;
}
    td.numeric input {
        margin: 1px !important;
    }
    div#no-more-tables .table-bordered {width: 100% !important;
                                        border:0px!important;
    }
    #no-more-tables td:empty {
    display: none;
}
    #no-more-tables tr { /*border: 1px solid #ccc;*/ }

    #no-more-tables td { 
 border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align: left;
    width: 100%;
    }
    .cart-slct {
    margin-bottom: 13px;
}
    div#no-more-tables button.btn.btn-info.btn-sm {
    margin: 0px 5px 13px 10px !IMPORTANT;
}
.table-bordered.table-striped.table-condensed.cf td {
    float: left;background: transparent;
}

    #no-more-tables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    #no-more-tables td:before { content: attr(data-title); }
}
td.numeric input {
    max-width: 63px;    margin: auto;
}
table.col-md-12.table-bordered.table-striped.table-condensed.cf td img {    
    border: 1px solid #ccc;    
    padding: 2px;   
   max-width: 148px;
   float: none; 
   margin: auto;}
td.c-name {
    font-size: 18px;
    font-weight: 700;
    background: #eee;
    color: #fff;
    text-align: left;
    color: #000;
}
.table-striped.table-condensed.cf th {
    background: #010036;line-height: 2;
    font-size: 18px;
    font-weight: normal;    text-align: center;
    color: #fff;
    padding: 0 15px;
}
button.btn.cart-slct {
    color: #c8151f;
    font-size: 16px;
    border: 1px solid #c8151f;
    padding: 8px;
    margin-bottom: 13px;
    background: #fff;
}
button.btn.cart-slct:hover{
    background: #c8151f;
    color: #fff;}
div#no-more-tables {
    text-align: center;float: left;
    width: 100%;
}
h1.cart-hdng {
    text-align: center;
    color: #c8151f;
    text-transform: uppercase;
    margin-bottom: 50px;
}
div#no-more-tables .table-bordered {
    border: 1px solid #ddd;
    margin: auto;
    float: none;width: 70%;
}
button.btn.btn-danger.btn-sm {
    background: #c8151f;
    border: 1px solid #c8151f;
}
button.btn.btn-info.btn-sm {
    background: #fff;
    border: 1px solid #010036;
    font-size: 16px;
    padding: 7px 7px 7px 14px;
    margin-bottom:8px;
    color: #010036;
}
button.btn.btn-info.btn-sm:hover{background:#010036; color: #fff;}