.note {
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #eee;
    border-radius: 0 4px 4px 0
}

.dashboard-stat,
.portlet {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px
}
.panel {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important
}
.panel-group .panel {
    overflow: visible
}
.panel .panel-title>a:hover {
    text-decoration: none
}
.accordion .panel .panel-heading,
.accordion .panel .panel-title {
    padding: 0
}
.accordion .panel .panel-title .accordion-toggle {
    display: block;
    padding: 10px 15px
}

.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed {
    background-position: right 12px
}
.panel-heading a,
.panel-heading a:active,
.panel-heading a:focus,
.panel-heading a:hover {
    text-decoration: none
}
.popover {
    box-shadow: 5px 5px rgba(102, 102, 102, .1);
    padding: 0
}
.popover .popover-title {
    margin: 0!important
}
.page-portlet-fullscreen {
    overflow: hidden
}
.portlet.portlet-fullscreen {
    z-index: 10060;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff
}
.portlet.portlet-fullscreen>.portlet-body {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 10px
}
.portlet.portlet-fullscreen>.portlet-title {
    padding: 0 10px
}
.portlet>.portlet-title>.caption.bold {
    font-weight: 400
}
.portlet>.portlet-title>.caption>.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400
}



.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen {
    font-family: FontAwesome;
    color: #a0a0a0;
    padding-top: 3px
}
.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen.btn-sm {
    padding: 3px!important;
    height: 27px;
    width: 27px
}
.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen:before {
    content: "\f065"
}
.portlet>.portlet-title>.actions .btn-icon-only.btn-default.fullscreen.on:before {
    content: "\f066"
}

.portlet>.portlet-title>.tools>a {
    display: inline-block;
    height: 16px;
    margin-left: 5px;
    opacity: 1;
    filter: alpha(opacity=100)
}

.portlet>.portlet-title>.tools>a.collapse {
    background-image: url(../img/portlet-collapse-icon.png);
    width: 14px;
    visibility: visible
}
.portlet>.portlet-title>.tools>a.fullscreen {
    display: inline-block;
    top: -3px;
    position: relative;
    font-size: 13px;
    font-family: FontAwesome;
    color: #ACACAC
}
.portlet>.portlet-title>.tools>a.fullscreen:before {
    content: "\f065"
}
.portlet>.portlet-title>.tools>a.fullscreen.on:before {
    content: "\f066"
}

.portlet>.portlet-title>.pagination {
    float: right;
    display: inline-block;
    margin: 2px 0 0;
    border: 0;
    padding: 4px 0
}
.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: right;
    display: inline-block;
    border: 0
}
.portlet>.portlet-title>.nav-tabs>li {
    background: 0 0;
    margin: 0;
    border: 0
}
.portlet>.portlet-title>.nav-tabs>li>a {
    background: 0 0;
    margin: 5px 0 0 1px;
    border: 0;
    padding: 8px 10px;
    color: #fff
}
.portlet>.portlet-title>.nav-tabs>li.active>a,
.portlet>.portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0
}
.portlet>.portlet-empty {
    min-height: 125px
}
.portlet.full-height-content {
    margin-bottom: 0
}
.portlet.bordered {
    border-left: 2px solid #e6e9ec!important
}
.portlet.bordered>.portlet-title {
    border-bottom: 0
}
.portlet.solid {
    padding: 0 10px 10px;
    border: 0
}
.portlet.solid>.portlet-title {
    border-bottom: 0;
    margin-bottom: 10px
}
.portlet.solid>.portlet-title>.caption {
    padding: 16px 0 2px
}
.portlet.solid>.portlet-title>.actions {
    padding: 12px 0 6px
}
.portlet.solid>.portlet-title>.tools {
    padding: 14px 0 6px
}
.portlet.solid.bordered>.portlet-title {
    margin-bottom: 10px
}
.portlet.box>.portlet-title>.tools>a.fullscreen {
    color: #fdfdfd
}


@media (max-width: 768px) {
    .modal-full.modal-dialog {
        width: auto
    }
}
