*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.18 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
}

@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 1575px) {
  .container {
    max-width: 1575px;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.-right-2 {
  right: -0.5rem;
}

.-right-3 {
  right: -0.75rem;
}

.-top-1\.5 {
  top: -0.375rem;
}

.-top-3 {
  top: -0.75rem;
}

.left-0 {
  left: 0px;
}

.left-1 {
  left: 0.25rem;
}

.left-4 {
  left: 1rem;
}

.left-5 {
  left: 1.25rem;
}

.left-\[5px\] {
  left: 5px;
}

.right-0 {
  right: 0px;
}

.right-4 {
  right: 1rem;
}

.top-0 {
  top: 0px;
}

.top-1 {
  top: 0.25rem;
}

.top-1\.5 {
  top: 0.375rem;
}

.top-\[14px\] {
  top: 14px;
}

.top-full {
  top: 100%;
}

.z-\[0\] {
  z-index: 0;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[2\] {
  z-index: 2;
}

.z-\[9\] {
  z-index: 9;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mt-1\.5 {
  margin-top: 0.375rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-auto {
  margin-top: auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-1 {
  height: 0.25rem;
}

.h-10 {
  height: 2.5rem;
}

.h-2 {
  height: 0.5rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-\[26px\] {
  height: 26px;
}

.h-full {
  height: 100%;
}

.max-h-24 {
  max-height: 6rem;
}

.max-h-\[156px\] {
  max-height: 156px;
}

.max-h-\[186px\] {
  max-height: 186px;
}

.max-h-\[200px\] {
  max-height: 200px;
}

.max-h-\[370px\] {
  max-height: 370px;
}

.min-h-10 {
  min-height: 2.5rem;
}

.min-h-12 {
  min-height: 3rem;
}

.min-h-24 {
  min-height: 6rem;
}

.min-h-\[34px\] {
  min-height: 34px;
}

.min-h-\[38px\] {
  min-height: 38px;
}

.min-h-\[40px\] {
  min-height: 40px;
}

.min-h-\[46px\] {
  min-height: 46px;
}

.min-h-\[60px\] {
  min-height: 60px;
}

.w-1 {
  width: 0.25rem;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-2 {
  width: 0.5rem;
}

.w-2\.5 {
  width: 0.625rem;
}

.w-20 {
  width: 5rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-\[15px\] {
  width: 15px;
}

.w-\[285px\] {
  width: 285px;
}

.w-\[31\%\] {
  width: 31%;
}

.w-\[69\%\] {
  width: 69%;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.min-w-12 {
  min-width: 3rem;
}

.min-w-4 {
  min-width: 1rem;
}

.min-w-\[26px\] {
  min-width: 26px;
}

.max-w-\[1060px\] {
  max-width: 1060px;
}

.max-w-\[1120px\] {
  max-width: 1120px;
}

.max-w-\[113px\] {
  max-width: 113px;
}

.max-w-\[120px\] {
  max-width: 120px;
}

.max-w-\[1250px\] {
  max-width: 1250px;
}

.max-w-\[140px\] {
  max-width: 140px;
}

.max-w-\[227px\] {
  max-width: 227px;
}

.max-w-\[400px\] {
  max-width: 400px;
}

.max-w-\[450px\] {
  max-width: 450px;
}

.max-w-\[500px\] {
  max-width: 500px;
}

.max-w-\[50px\] {
  max-width: 50px;
}

.max-w-\[55px\] {
  max-width: 55px;
}

.max-w-\[600px\] {
  max-width: 600px;
}

.max-w-\[630px\] {
  max-width: 630px;
}

.max-w-\[70px\] {
  max-width: 70px;
}

.max-w-\[75px\] {
  max-width: 75px;
}

.max-w-\[820px\] {
  max-width: 820px;
}

.max-w-\[900px\] {
  max-width: 900px;
}

.max-w-\[90px\] {
  max-width: 90px;
}

.max-w-xs {
  max-width: 20rem;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.table-fixed {
  table-layout: fixed;
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.list-none {
  list-style-type: none;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-0 {
  gap: 0px;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-20 {
  gap: 5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.overflow-y-auto {
  overflow-y: auto;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.break-words {
  overflow-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[20px\] {
  border-radius: 20px;
}

.rounded-\[2px\] {
  border-radius: 2px;
}

.rounded-\[5px\] {
  border-radius: 5px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-tl-\[20px\] {
  border-top-left-radius: 20px;
}

.rounded-tr-\[20px\] {
  border-top-right-radius: 20px;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-2 {
  border-width: 2px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-\[\#B1B1B1\] {
  --tw-border-opacity: 1;
  border-color: rgb(177 177 177 / var(--tw-border-opacity, 1));
}

.border-\[\#D9D9D9\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity, 1));
}

.border-\[\#b1b1b1\] {
  --tw-border-opacity: 1;
  border-color: rgb(177 177 177 / var(--tw-border-opacity, 1));
}

.border-\[\#d9d9d9\] {
  --tw-border-opacity: 1;
  border-color: rgb(217 217 217 / var(--tw-border-opacity, 1));
}

.border-\[1\.5\] {
  border-color: 1.5;
}

.border-body {
  --tw-border-opacity: 1;
  border-color: rgb(255 237 237 / var(--tw-border-opacity, 1));
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(45 45 42 / var(--tw-border-opacity, 1));
}

.border-transparent {
  border-color: transparent;
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#d9d9d9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(217 217 217 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-black\/40 {
  background-color: rgb(0 0 0 / 0.4);
}

.bg-black\/60 {
  background-color: rgb(0 0 0 / 0.6);
}

.bg-black\/70 {
  background-color: rgb(0 0 0 / 0.7);
}

.bg-black\/80 {
  background-color: rgb(0 0 0 / 0.8);
}

.bg-body {
  --tw-bg-opacity: 1;
  background-color: rgb(255 237 237 / var(--tw-bg-opacity, 1));
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(237 0 0 / var(--tw-bg-opacity, 1));
}

.bg-primary\/10 {
  background-color: rgb(237 0 0 / 0.1);
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(45 45 42 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-herobanner {
  background-image: url('/ribbons/assets/images/banner.jpg');
}

.bg-map {
  background-image: url('/ribbons/assets/images/map.jpg');
}

.bg-shop {
  background-image: url('/ribbons/assets/images/shop.jpg');
}

.bg-cover {
  background-size: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-primary {
  fill: #ED0000;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-left {
  -o-object-position: left;
     object-position: left;
}

.p-1 {
  padding: 0.25rem;
}

.p-3 {
  padding: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.p-5 {
  padding: 1.25rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-20 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pe-4 {
  padding-inline-end: 1rem;
}

.pe-5 {
  padding-inline-end: 1.25rem;
}

.pe-7 {
  padding-inline-end: 1.75rem;
}

.ps-10 {
  padding-inline-start: 2.5rem;
}

.ps-\[36px\] {
  padding-inline-start: 36px;
}

.ps-\[44px\] {
  padding-inline-start: 44px;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-gothic {
  font-family: var(--gothic);
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[33px\] {
  font-size: 33px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.leading-\[21px\] {
  line-height: 21px;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[30px\] {
  line-height: 30px;
}

.leading-\[33px\] {
  line-height: 33px;
}

.leading-\[36px\] {
  line-height: 36px;
}

.leading-\[38px\] {
  line-height: 38px;
}

.tracking-\[0\.4px\] {
  letter-spacing: 0.4px;
}

.text-\[\#E5E6E8\] {
  --tw-text-opacity: 1;
  color: rgb(229 230 232 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(57 60 64 / var(--tw-text-opacity, 1));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(237 0 0 / var(--tw-text-opacity, 1));
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(45 45 42 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-\[1\] {
  opacity: 1;
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\[hostname\:port\] {
  hostname: port;
}

:root{
  --poppins: "Poppins", sans-serif;
  --gothic : "Special Gothic Expanded One", sans-serif;
}

body {
  position: relative;
}

.iframe_call iframe {
  width: 100%;
  border-radius: 1rem;
}

.crousal-outer .slick-arrow::before {
  display: none;
}

body.active::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: rgb(0 0 0 / 0.4);
}

.panel-heading a.active {
  --tw-bg-opacity: 1;
  background-color: rgb(237 0 0 / var(--tw-bg-opacity, 1));
}

#navmenus.active {
  display: block;
}

.main-nav-bar li.active a {
  --tw-text-opacity: 1;
  color: rgb(237 0 0 / var(--tw-text-opacity, 1));
}

.srch-bar input::-webkit-input-placeholder {
  color: rgb(45 45 42 / 0.7);
}

.checkmark::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0.375rem;
  height: 0.5rem;
  width: 15px;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: 1.5;
  --tw-border-opacity: 1;
  border-color: rgb(255 237 237 / var(--tw-border-opacity, 1));
  opacity: 0;
}

.smallcheck::before{
  content: "";
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  height: 0.25rem;
  width: 0.5rem;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: 1.5;
  --tw-border-opacity: 1;
  border-color: rgb(255 237 237 / var(--tw-border-opacity, 1));
  opacity: 0;
}

.shop-cat-list input[type="checkbox"]:checked~.checkmark::before,
.customer-list input[type="checkbox"]:checked~.smallcheck::before {
  opacity: 1;
}

.shop-cat-list input[type="checkbox"]:checked~.checkmark,
.customer-list input[type="checkbox"]:checked~.smallcheck {
  --tw-bg-opacity: 1;
  background-color: rgb(45 45 42 / var(--tw-bg-opacity, 1));
}

.customer-list input[type="checkbox"]:checked~.smallcheck {
  --tw-border-opacity: 1;
  border-color: rgb(45 45 42 / var(--tw-border-opacity, 1));
}

.customer-list .ribbon_outer img {
  max-width: 90px;
}

.customer-list .ribbon_outer {
  margin-top: -0.5rem;
}

.flag-sec .list .inner {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-inline-end: 0.25rem;
}

.flag-contaner .ribbon_outer {
  position: relative;
  margin: auto;
  display: inline-block;
  min-height: 60px;
  width: auto;
  max-width: 113px;
  text-align: center;
}

.flag-contaner .ribbon_outer img {
  display: inline-block;
  width: auto;
  max-width: 140px;
}

.list .inner::-webkit-scrollbar {
  width: 0.375rem;
}

.list .inner::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background-color: rgb(0 0 0 / 0.8);
}

.list .inner::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 237 237 / var(--tw-bg-opacity, 1));
}

.flag-sec .list .inner .ribbon_shop p br {
  display: none;
}

.german-active .inner ul li p {
  word-break: break-all;
}

.side-bar ul li.selected a {
  --tw-bg-opacity: 1;
  background-color: rgb(237 0 0 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

#dev-table tbody tr:last-child td {
  border-width: 0px;
  padding-bottom: 0px;
}

@media(max-width:1669px){
  .iframe_call iframe {
    max-height: 370px;
  }
}

@media(max-width:1574px){
  .customer-list .ribbon_outer img {
    max-width: 70px;
  }
}

@media(max-width:1519px){
  .iframe_call iframe {
    max-height: 350px;
  }
}

@media(max-width:1430px){
  .iframe_call iframe {
    max-height: 310px;
  }
}

@media(max-width:1299px){
  .iframe_call iframe {
    max-height: 280px;
  }

  .german-active ul li.shop-cat-list label {
    word-break: break-all;
  }

  .customer-list .ribbon_outer img {
    max-width: 50px;
  }

  .customer-list .ribbon_outer {
    margin-top: -0.25rem;
  }

  .flag-contaner .ribbon_outer {
    min-height: 40px;
  }

  .flag-contaner .ribbon_outer img {
    max-width: 75px;
  }
}

@media(max-width:1199px){
  .iframe_call iframe {
    max-height: 260px;
  }
}

@media(max-width:1023px){
  .iframe_call iframe {
    max-height: unset;
  }

  .flag-contaner .ribbon_outer img {
    max-width: 120px;
  }
}

@media(max-width:767px){
  .iframe_call iframe {
    max-height: 320px;
  }
}

@media(max-width:599px){
  .iframe_call iframe {
    max-height: 260px;
  }
}

@media(max-width:499px){
  .iframe_call iframe {
    max-height: 200px;
    border-radius: 0.75rem;
  }
}

@media(max-width:399px){
  .iframe_call iframe {
    max-height: 186px;
  }
}

@media(max-width:359px){
  .iframe_call iframe {
    max-height: 156px;
  }
}

@media(max-width:1299px){
  .custom-prev svg,.custom-next svg {
    height: 1.5rem;
    width: 1.5rem;
  }

  .map-requests p svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}

@media(max-width:767px){
  .tc_page li a {
    font-size: 12px !important;
  }

  .custom-prev svg,.custom-next svg {
    height: 1rem;
    width: 1rem;
  }

  .map-requests a {
    word-break: break-all;
  }

  .map-requests p svg {
    height: 1.25rem;
    width: 1.25rem;
  }

  .german-active .break-words {
    word-break: break-all;
  }

  .customer-list .ribbon_outer img {
    max-width: 50px;
  }

  .flag-contaner .ribbon_outer img {
    max-width: 70px;
  }
}

@media(max-width:480px){
  .flag-contaner .ribbon_outer {
    width: 33.333333%;
  }

  .ribbon_outer {
    width: auto;
  }
}

.last\:mb-0:last-child {
  margin-bottom: 0px;
}

.last\:border-none:last-child {
  border-style: none;
}

.last\:pb-0:last-child {
  padding-bottom: 0px;
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(237 0 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-secondary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(45 45 42 / var(--tw-bg-opacity, 1));
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(237 0 0 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.focus\:bg-primary:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(237 0 0 / var(--tw-bg-opacity, 1));
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 480px) {
  .xs\:w-auto {
    width: auto;
  }

  .xs\:max-w-\[200px\] {
    max-width: 200px;
  }

  .xs\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md\:left-5 {
    left: 1.25rem;
  }

  .md\:right-5 {
    right: 1.25rem;
  }

  .md\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .md\:mb-14 {
    margin-bottom: 3.5rem;
  }

  .md\:mb-3 {
    margin-bottom: 0.75rem;
  }

  .md\:mb-4 {
    margin-bottom: 1rem;
  }

  .md\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .md\:mt-10 {
    margin-top: 2.5rem;
  }

  .md\:mt-4 {
    margin-top: 1rem;
  }

  .md\:mt-8 {
    margin-top: 2rem;
  }

  .md\:h-10 {
    height: 2.5rem;
  }

  .md\:h-12 {
    height: 3rem;
  }

  .md\:h-6 {
    height: 1.5rem;
  }

  .md\:min-h-12 {
    min-height: 3rem;
  }

  .md\:min-h-14 {
    min-height: 3.5rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-10 {
    width: 2.5rem;
  }

  .md\:w-12 {
    width: 3rem;
  }

  .md\:w-6 {
    width: 1.5rem;
  }

  .md\:w-\[300px\] {
    width: 300px;
  }

  .md\:w-\[350px\] {
    width: 350px;
  }

  .md\:w-\[calc\(50\%-10px\)\] {
    width: calc(50% - 10px);
  }

  .md\:w-\[calc\(50\%-8px\)\] {
    width: calc(50% - 8px);
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:max-w-\[300px\] {
    max-width: 300px;
  }

  .md\:max-w-\[70px\] {
    max-width: 70px;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:items-start {
    align-items: flex-start;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-0 {
    gap: 0px;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-3 {
    gap: 0.75rem;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:gap-7 {
    gap: 1.75rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .md\:p-5 {
    padding: 1.25rem;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .md\:py-14 {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .md\:py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .md\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .md\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .md\:pb-16 {
    padding-bottom: 4rem;
  }

  .md\:ps-\[52px\] {
    padding-inline-start: 52px;
  }

  .md\:pt-16 {
    padding-top: 4rem;
  }

  .md\:text-center {
    text-align: center;
  }

  .md\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-\[33px\] {
    font-size: 33px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:leading-\[30px\] {
    line-height: 30px;
  }

  .md\:leading-\[32px\] {
    line-height: 32px;
  }

  .md\:leading-\[33px\] {
    line-height: 33px;
  }

  .md\:leading-\[40px\] {
    line-height: 40px;
  }

  .md\:leading-\[48px\] {
    line-height: 48px;
  }

  .md\:leading-\[50px\] {
    line-height: 50px;
  }

  .md\:leading-\[60px\] {
    line-height: 60px;
  }
}

@media (min-width: 1024px) {
  @media (min-width: 768px) {
    .lg\:md\:w-\[400px\] {
      width: 400px;
    }
  }

  .lg\:relative {
    position: relative;
  }

  .lg\:top-0 {
    top: 0px;
  }

  .lg\:z-\[0\] {
    z-index: 0;
  }

  .lg\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .lg\:mt-0 {
    margin-top: 0px;
  }

  .lg\:block {
    display: block;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:h-auto {
    height: auto;
  }

  .lg\:min-h-12 {
    min-height: 3rem;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/3 {
    width: 33.333333%;
  }

  .lg\:w-24 {
    width: 6rem;
  }

  .lg\:w-\[22\%\] {
    width: 22%;
  }

  .lg\:w-\[27\%\] {
    width: 27%;
  }

  .lg\:w-\[31\%\] {
    width: 31%;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:w-\[400px\] {
    width: 400px;
  }

  .lg\:w-\[420px\] {
    width: 420px;
  }

  .lg\:w-\[47\%\] {
    width: 47%;
  }

  .lg\:w-\[48\%\] {
    width: 48%;
  }

  .lg\:w-\[52\%\] {
    width: 52%;
  }

  .lg\:w-auto {
    width: auto;
  }

  .lg\:w-full {
    width: 100%;
  }

  .lg\:max-w-\[400px\] {
    max-width: 400px;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-col {
    flex-direction: column;
  }

  .lg\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-end {
    justify-content: flex-end;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-5 {
    gap: 1.25rem;
  }

  .lg\:rounded-xl {
    border-radius: 0.75rem;
  }

  .lg\:bg-transparent {
    background-color: transparent;
  }

  .lg\:p-0 {
    padding: 0px;
  }

  .lg\:p-3 {
    padding: 0.75rem;
  }

  .lg\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .lg\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .lg\:py-36 {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }

  .lg\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .lg\:pe-0 {
    padding-inline-end: 0px;
  }

  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .lg\:text-secondary {
    --tw-text-opacity: 1;
    color: rgb(45 45 42 / var(--tw-text-opacity, 1));
  }
}

@media (min-width: 1300px) {
  .xl\:left-10 {
    left: 2.5rem;
  }

  .xl\:right-10 {
    right: 2.5rem;
  }

  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .xl\:mb-14 {
    margin-bottom: 3.5rem;
  }

  .xl\:mb-5 {
    margin-bottom: 1.25rem;
  }

  .xl\:mb-8 {
    margin-bottom: 2rem;
  }

  .xl\:mt-10 {
    margin-top: 2.5rem;
  }

  .xl\:mt-14 {
    margin-top: 3.5rem;
  }

  .xl\:h-16 {
    height: 4rem;
  }

  .xl\:w-16 {
    width: 4rem;
  }

  .xl\:w-32 {
    width: 8rem;
  }

  .xl\:w-\[32\%\] {
    width: 32%;
  }

  .xl\:w-\[36\%\] {
    width: 36%;
  }

  .xl\:max-w-\[227px\] {
    max-width: 227px;
  }

  .xl\:max-w-\[700px\] {
    max-width: 700px;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .xl\:items-center {
    align-items: center;
  }

  .xl\:gap-10 {
    gap: 2.5rem;
  }

  .xl\:gap-14 {
    gap: 3.5rem;
  }

  .xl\:gap-3 {
    gap: 0.75rem;
  }

  .xl\:gap-32 {
    gap: 8rem;
  }

  .xl\:gap-6 {
    gap: 1.5rem;
  }

  .xl\:gap-7 {
    gap: 1.75rem;
  }

  .xl\:gap-8 {
    gap: 2rem;
  }

  .xl\:whitespace-normal {
    white-space: normal;
  }

  .xl\:p-10 {
    padding: 2.5rem;
  }

  .xl\:p-5 {
    padding: 1.25rem;
  }

  .xl\:p-8 {
    padding: 2rem;
  }

  .xl\:px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .xl\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .xl\:py-24 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .xl\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .xl\:pb-28 {
    padding-bottom: 7rem;
  }

  .xl\:pb-5 {
    padding-bottom: 1.25rem;
  }

  .xl\:pt-24 {
    padding-top: 6rem;
  }

  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .xl\:text-\[22px\] {
    font-size: 22px;
  }

  .xl\:text-\[40px\] {
    font-size: 40px;
  }

  .xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .xl\:leading-\[32px\] {
    line-height: 32px;
  }

  .xl\:leading-\[35px\] {
    line-height: 35px;
  }

  .xl\:leading-\[40px\] {
    line-height: 40px;
  }

  .xl\:leading-\[42px\] {
    line-height: 42px;
  }

  .xl\:leading-\[46px\] {
    line-height: 46px;
  }

  .xl\:leading-\[54px\] {
    line-height: 54px;
  }

  .xl\:leading-\[80px\] {
    line-height: 80px;
  }
}

@media (min-width: 1575px) {
  .\32xl\:mt-0 {
    margin-top: 0px;
  }

  .\32xl\:w-\[30\%\] {
    width: 30%;
  }

  .\32xl\:w-\[40\%\] {
    width: 40%;
  }

  .\32xl\:w-auto {
    width: auto;
  }

  .\32xl\:max-w-\[140px\] {
    max-width: 140px;
  }

  .\32xl\:flex-row {
    flex-direction: row;
  }

  .\32xl\:gap-0 {
    gap: 0px;
  }

  .\32xl\:gap-10 {
    gap: 2.5rem;
  }

  .\32xl\:gap-12 {
    gap: 3rem;
  }

  .\32xl\:gap-14 {
    gap: 3.5rem;
  }

  .\32xl\:gap-16 {
    gap: 4rem;
  }

  .\32xl\:gap-5 {
    gap: 1.25rem;
  }

  .\32xl\:gap-60 {
    gap: 15rem;
  }

  .\32xl\:break-normal {
    overflow-wrap: normal;
    word-break: normal;
  }

  .\32xl\:p-10 {
    padding: 2.5rem;
  }

  .\32xl\:p-5 {
    padding: 1.25rem;
  }

  .\32xl\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .\32xl\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .\32xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .\32xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .\32xl\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .\32xl\:text-8xl {
    font-size: 6rem;
    line-height: 1;
  }

  .\32xl\:text-\[36px\] {
    font-size: 36px;
  }

  .\32xl\:text-\[40px\] {
    font-size: 40px;
  }

  .\32xl\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .\32xl\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .\32xl\:leading-\[120px\] {
    line-height: 120px;
  }

  .\32xl\:leading-\[35px\] {
    line-height: 35px;
  }

  .\32xl\:leading-\[47px\] {
    line-height: 47px;
  }

  .\32xl\:leading-\[50px\] {
    line-height: 50px;
  }

  .\32xl\:leading-\[75px\] {
    line-height: 75px;
  }

  .\32xl\:leading-\[80px\] {
    line-height: 80px;
  }
}

