@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --poppins: "Poppins", sans-serif;
    --gothic : "Special Gothic Expanded One", sans-serif;
}
body{
    @apply relative;
}
.iframe_call iframe{
    @apply rounded-2xl w-full;
}
.crousal-outer .slick-arrow::before{
    @apply hidden;
}
body.active::before{
    content: "";
    @apply top-0 left-0 bg-black/40 w-full h-full absolute z-[1];
}
.panel-heading a.active{
     @apply bg-primary;
}
#navmenus.active{
    @apply block;
}
.main-nav-bar li.active a{
    @apply text-primary;
}
.srch-bar input::-webkit-input-placeholder{
    @apply text-secondary/70;
}
.checkmark::before {
    content: "";
    @apply absolute w-[15px] h-2 border-[1.5] border-solid border-l border-b border-body left-[5px] top-1.5 -rotate-45 opacity-0;
}
.smallcheck::before{
    content: "";
    @apply absolute w-2 h-1 border-[1.5] border-solid border-l border-b border-body left-1 top-1 -rotate-45 opacity-0;
} 
.shop-cat-list input[type="checkbox"]:checked~.checkmark::before,
.customer-list input[type="checkbox"]:checked~.smallcheck::before{
    @apply opacity-[1];
}
.shop-cat-list input[type="checkbox"]:checked~.checkmark,
.customer-list input[type="checkbox"]:checked~.smallcheck{
    @apply bg-secondary;
}
.customer-list input[type="checkbox"]:checked~.smallcheck{
    @apply border-secondary;
}
.customer-list .ribbon_outer img{
    @apply max-w-[90px];
}
.customer-list .ribbon_outer{
    @apply -mt-2;
}
.flag-sec .list .inner{
    @apply flex flex-col gap-5 pe-1;
}
.flag-contaner .ribbon_outer{
    @apply relative max-w-[113px] min-h-[60px] w-auto text-center m-auto inline-block;
}
.flag-contaner .ribbon_outer img{
    @apply inline-block max-w-[140px] w-auto;
}
.list .inner::-webkit-scrollbar{
   @apply w-1.5;
}
.list .inner::-webkit-scrollbar-thumb{
    @apply bg-black/80 rounded-xl;
}
.list .inner::-webkit-scrollbar-track{
    @apply bg-body rounded-xl;
}
.flag-sec .list .inner .ribbon_shop p br{
    @apply hidden;
}
.german-active .inner ul li p{
    @apply break-all;
}

@media(max-width:1669px){
    .iframe_call iframe {
        @apply max-h-[370px];
    }
}
@media(max-width:1574px){
    .customer-list .ribbon_outer img{
        @apply max-w-[70px];
    }
}
@media(max-width:1519px){
    .iframe_call iframe {
        max-height: 350px;
    }
}
@media(max-width:1430px){
    .iframe_call iframe {
        max-height: 310px;
    }
}
@media(max-width:1299px){
    .iframe_call iframe {
        max-height: 280px;
    }
    .german-active ul li.shop-cat-list label{
        @apply break-all;
    }
    .customer-list .ribbon_outer img {
      @apply max-w-[50px];
   }
   .customer-list .ribbon_outer{
       @apply -mt-1;
   }
   .flag-contaner .ribbon_outer{
      @apply min-h-[40px];
   }
   .flag-contaner .ribbon_outer img {
    @apply max-w-[75px];
   }
}
@media(max-width:1199px){
    .iframe_call iframe {
        max-height: 260px;
    }
}
@media(max-width:1023px){
    .iframe_call iframe {
        max-height: unset;
    }
    .flag-contaner .ribbon_outer img{
        @apply max-w-[120px];
    }
}
@media(max-width:767px){
    .iframe_call iframe {
        max-height: 320px;
    }
}
@media(max-width:599px){
    .iframe_call iframe {
        max-height: 260px;
    }
}
@media(max-width:499px){
    .iframe_call iframe {
        @apply rounded-xl max-h-[200px];
    }
}
@media(max-width:399px){
    .iframe_call iframe {
        @apply max-h-[186px];
    }
}
@media(max-width:359px){
    .iframe_call iframe {
        @apply max-h-[156px];
    }
}
@media(max-width:1299px){
    .custom-prev svg,.custom-next svg{
         @apply w-6 h-6;
    }
    .map-requests p svg{
        @apply w-6 h-6;
    }
}
@media(max-width:767px){
    .tc_page li a{
        @apply text-[12px] !important;
    }
    .custom-prev svg,.custom-next svg{
        @apply w-4 h-4;
    }
    .map-requests a{
        @apply break-all;
    }
    .map-requests p svg{
        @apply w-5 h-5;
    }
    .german-active .break-words{
        @apply break-all;
    }
    .customer-list .ribbon_outer img{
        @apply max-w-[50px];
    }
    .flag-contaner .ribbon_outer img {
      @apply max-w-[70px];
   }
}
@media(max-width:480px){
    .flag-contaner .ribbon_outer{
        @apply w-1/3;
    }
    .ribbon_outer{
        @apply w-auto;
    }
}

