@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --poppins: "Poppins", sans-serif;
    --gothic : "Special Gothic Expanded One", sans-serif;
}
body{
    @apply relative;
}
.iframe_call iframe{
    @apply rounded-2xl w-full;
}
.crousal-outer .slick-arrow::before{
    @apply hidden;
}
body.active::before{
    content: "";
    @apply top-0 left-0 bg-black/40 w-full h-full absolute z-[1];
}
.panel-heading a.active{
     @apply bg-primary;
}
#navmenus.active{
    @apply block;
}
.main-nav-bar li.active a{
    @apply text-primary;
}
.srch-bar input::-webkit-input-placeholder{
    @apply text-secondary/70;
}
.checkmark::before {
    content: "";
    @apply absolute w-[15px] h-2 border-[1.5] border-solid border-l border-b border-body left-[5px] top-1.5 -rotate-45 opacity-0;
}
.smallcheck::before{
    content: "";
    @apply absolute w-2 h-1 border-[1.5] border-solid border-l border-b border-body left-1 top-1 -rotate-45 opacity-0;
} 
.shop-cat-list input[type="checkbox"]:checked~.checkmark::before,
.customer-list input[type="checkbox"]:checked~.smallcheck::before{
    @apply opacity-[1];
}
.shop-cat-list input[type="checkbox"]:checked~.checkmark,
.customer-list input[type="checkbox"]:checked~.smallcheck{
    @apply bg-secondary;
}
.customer-list input[type="checkbox"]:checked~.smallcheck{
    @apply border-secondary;
}
.customer-list .ribbon_outer img{
    @apply max-w-[90px];
}
.customer-list .ribbon_outer{
    @apply -mt-1.5;
}
.flag-contaner .ribbon_outer{
    @apply w-[calc(50%-10px)] flex items-center;
}
@media(max-width:1669px){
    .iframe_call iframe {
        @apply max-h-[370px];
    }
}
@media(max-width:1519px){
    .iframe_call iframe {
        max-height: 350px;
    }
}
@media(max-width:1430px){
    .iframe_call iframe {
        max-height: 310px;
    }
}
@media(max-width:1299px){
    .iframe_call iframe {
        max-height: 280px;
    }
}
@media(max-width:1199px){
    .iframe_call iframe {
        max-height: 260px;
    }
}
@media(max-width:1023px){
    .iframe_call iframe {
        max-height: unset;
    }
}
@media(max-width:767px){
    .iframe_call iframe {
        max-height: 320px;
    }
}
@media(max-width:599px){
    .iframe_call iframe {
        max-height: 260px;
    }
}
@media(max-width:499px){
    .iframe_call iframe {
        @apply rounded-xl max-h-[200px];
    }
}
@media(max-width:399px){
    .iframe_call iframe {
        @apply max-h-[186px];
    }
}
@media(max-width:359px){
    .iframe_call iframe {
        @apply max-h-[156px];
    }
}
@media(max-width:1299px){
    .custom-prev svg,.custom-next svg{
         @apply w-6 h-6;
    }
    .map-requests p svg{
        @apply w-6 h-6;
    }
}
@media(max-width:767px){
    .tc_page li a{
        @apply text-[12px] !important;
    }
    .custom-prev svg,.custom-next svg{
        @apply w-4 h-4;
    }
    .map-requests a{
        @apply break-all;
    }
    .map-requests p svg{
        @apply w-5 h-5;
    }
    .german-active .break-words{
        @apply break-all;
    }
}

