@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --poppins: "Poppins", sans-serif;
    --gothic : "Special Gothic Expanded One", sans-serif;
}
body{
    @apply relative;
}
.red-main-hd{
    @apply  uppercase text-xl text-dark font-semibold;
}
.iframe_call iframe{
    @apply rounded-2xl w-full;
}
.crousal-outer .slick-arrow::before{
    @apply hidden;
}
body.active::before{
    content: "";
    @apply top-0 left-0 bg-black/40 w-full h-full absolute;
}
.panel-heading a.active{
     @apply bg-primary;
}