@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --poppins: "Poppins", sans-serif;
    --gothic : "Special Gothic Expanded One", sans-serif;
}
.red-main-hd{
    @apply  uppercase text-xl text-dark font-semibold;
}